*{
	box-sizing: border-box;
}


html, body{
	min-height: 100%;
}


.Clouds{
    animation-name: moving-clouds;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
 
@keyframes moving-clouds{
    from {
        transform: translateX(0px);
    }

    to{
        transform: translateX(100px);
    }
}

.Bush{
    transform: translateX(50px);
}

.Bush:hover{
    animation-name: shake;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes shake{
    0%, 100%{
        transform-origin: 50% 100%;
    }

    10%{
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70%{
        transform: rotate(3deg);
    }

    80%{
        transform: rotate(-4deg);
    }

    90%{
        transform: rotate(2deg);
    }
}

.Quail{
    animation-name: run;
    animation-duration: 2s;
    animation-delay: 2s;
}

@keyframes run{
   0% {
        transform: translateX(0px);
    }

    100%{
        transform: translateX(600px);
    }
}